body{
  background-image: url("https://media3.giphy.com/media/3o6YgrsbBssNIqrwcg/giphy.gif?cid=790b7611f0df147f42ee68a67e8bcbf1e114e257610bd306&rid=giphy.gif&ct=g");
  background-size:cover;
  background-position: center;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=button] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=button]:hover {
  background-color: #45a049;
}

.centro {

  margin: auto;
  width: 700px;
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}
.lado{
  display : flex;
  flex-direction : row;
}
